:root {
  --font-family: 'Montserrat', sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.input-form {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  background: #fff;
  padding: 16px 8px;
}

.input-form:hover {
  border: 1px solid #000;
}

.input-form:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

/* SEACRH BUTTON */

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  background: #6c8cff;
}

/* LOADER */

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #9b59b6;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #4b0082;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  position: relative;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform, box-shadow;
  overflow: hidden;
}

.gallery-item:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 24px rgba(78, 117, 255, 0.3);
  border-radius: 4px;
}

.gallery img {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  object-fit: cover;
}

.info-list {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;

  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.info-item-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
